.av-catalog-section-slider
	{
	align-items: center;
	display: flex;
	}
.av-catalog-section-slider .navigation
	{
	color: #999;
	cursor: pointer;
	line-height: 48px;
	font-size: 48px;
	text-align: center;
	transition: .3s;
	width:  48px;
	height: 48px;
	}
.av-catalog-section-slider .navigation:hover,
.av-catalog-section-slider .navigation:active,
.av-catalog-section-slider .navigation:focus    {color: #CC0000}
.av-catalog-section-slider .navigation.unactive {visibility: hidden}

.av-catalog-section-slider .slider-block
	{
	display: flex;
	overflow: hidden;
	width: calc(100% - 48px * 2);
	}
.av-catalog-section-slider .slider-block .item     {margin: 5px}
.av-catalog-section-slider .slider-block .item > * {height: 100%}
/* -------------------------------------------------------------------- */
/* ----------------------------- unactive ----------------------------- */
/* -------------------------------------------------------------------- */
.av-catalog-section-slider.unactive .navigation             {display: none}
.av-catalog-section-slider.unactive .slider-block           {overflow-x: scroll;width: 100%}
.av-catalog-section-slider.unactive .slider-block .item     {border: 1px solid #EFEFEF;border-radius: 2px}
.av-catalog-section-slider.unactive .slider-block .item > * {width: 250px}