/* -------------------------------------------------------------------- */
/* --------------------------- clear style ---------------------------- */
/* -------------------------------------------------------------------- */
.av-links-list-shop a,
.av-links-list-shop a:hover,
.av-links-list-shop a:focus,
.av-links-list-shop a:active,
.av-links-list-shop a:visited {color: inherit;text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------------- label ------------------------------ */
/* -------------------------------------------------------------------- */
.av-links-list-shop
	{
	font-size: 12px;
	}
.av-links-list-shop .title-label
	{
	align-items: center;
	border: 1px solid #B6C0C6;
	border-radius: 2px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 0 3px 0 10px;
	}
.av-links-list-shop.active .title-label,
.av-links-list-shop        .title-label:hover {border-color: #868B8D}

.av-links-list-shop .title-label > *:nth-child(1)
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 24px);
	}
.av-links-list-shop .title-label > *:nth-child(2)
	{
	background: url(images/arrow.svg) center center no-repeat;
	background-size: 8px;
	transition: .3s;
	width:  24px;
	height: 24px;
	}
.av-links-list-shop.active .title-label       > *:nth-child(2) {transform: rotate(-180deg)}
.av-links-list-shop.active .title-label       > *:nth-child(2),
.av-links-list-shop        .title-label:hover > *:nth-child(2) {background-image: url(images/arrow_active.svg)}
/* -------------------------------------------------------------------- */
/* -------------------------- drop-down menu -------------------------- */
/* -------------------------------------------------------------------- */
.av-links-list-shop .list
	{
	background: #FFF;
	border-right:  1px solid #B6C0C6;
	border-bottom: 1px solid #B6C0C6;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius:  2px;
	display: none;
	max-height: 200px;
	margin-top: -2px;
	position: absolute;
	z-index: 10;
	}
.av-links-list-shop.active .list,
.av-links-list-shop.active .list .list-item {border-color: #868B8D}

.av-links-list-shop .list .list-item
	{
	border-left: 1px solid #B6C0C6;
	display: block;
	overflow: hidden;
	padding: 3px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.av-links-list-shop .list             .list-item:hover,
.av-links-list-shop .list:not(:hover) .list-item.selected
	{
	background: #FAFAFA;
	}