.av-iblock-rating {display: flex}

.av-iblock-rating > .item
	{
	color: #DADFE2;
	cursor: default;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	width:  18px;
	height: 18px;
	}
.av-iblock-rating.vote-available > .item         {cursor: pointer}
.av-iblock-rating:not(.hovered)  > .item.active,
.av-iblock-rating.hovered        > .item.hovered {color: #CC0000}