/* -------------------------------------------------------------------- */
/* --------------------------- clear style ---------------------------- */
/* -------------------------------------------------------------------- */
.av-ctatalog-item-list a,
.av-ctatalog-item-list a:hover,
.av-ctatalog-item-list a:focus,
.av-ctatalog-item-list a:active,
.av-ctatalog-item-list a:visited {color: inherit;text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------------ items ------------------------------- */
/* -------------------------------------------------------------------- */
.av-ctatalog-item-list
	{
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	padding: 13px;
	transition: .3s;
	}
.av-ctatalog-item-list:hover
	{
	box-shadow: 0 4px 8px rgba(76,82,85,0.25);
	}
.av-ctatalog-item-list .image-link
	{
	margin-right: 13px;
	overflow: hidden;
	width:  200px;
	height: 200px;
	}
.av-ctatalog-item-list .image-link img
	{
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	}
.av-ctatalog-item-list .content
	{
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 200px - 13px);
	}
.av-ctatalog-item-list .element-title
	{
	font-weight: bold;
	margin-bottom: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	}
.av-ctatalog-item-list .sku-info
	{
	font-size: 80%;
	width: calc(100% - 150px);
	}
.av-ctatalog-item-list .sku-info .prop-row
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
.av-ctatalog-item-list .read-more-block
	{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 150px;
	}
.av-ctatalog-item-list .price
	{
	font-size: 90%;
	font-weight: bold;
	margin-bottom: 26px;
	text-align: center;
	width: 100%;
	}
.av-ctatalog-item-list .price.mobile
	{
	display: none;
	}
.av-ctatalog-item-list .read-more
	{
	align-items: center;
	border: 1px solid #B6C0C6;
	border-radius: 2px;
	color: #B6C0C6 !important;
	display: flex;
	font-size: 80%;
	justify-content: center;
	transition: .3s;
	width:  100px;
	height: 30px;
	}
.av-ctatalog-item-list:hover .read-more
	{
	border-color: #CC0000;
	color: #CC0000 !important;
	}
.av-ctatalog-item-list .read-more:hover
	{
	background: #CC0000;
	border-color: #CC0000;
	color: #FFF !important;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------- media ------------------------------ */
/* -------------------------------------------------------------------- */
@media (max-width: 767px)
	{
	.av-ctatalog-item-list .image-link         {margin: 0 0 13px 0;width: 100%;height: 150px}
	.av-ctatalog-item-list .content            {width: 100%}
	.av-ctatalog-item-list .element-title      {margin-bottom: 6px;text-align: center}
	.av-ctatalog-item-list .price:not(.mobile) {display: none}
	.av-ctatalog-item-list .price.mobile       {display: block;margin-bottom: 13px}
	.av-ctatalog-item-list .sku-info,
	.av-ctatalog-item-list .read-more-block    {width: 100%}
	.av-ctatalog-item-list .read-more          {margin-top: 13px}
	}