/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-textarea-corp
	{
	background: transparent;
	border: none;
	color: inherit;
	font-weight: normal;
	margin:  0;
	padding: 0;
	outline: none;
	resize: none;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ input ------------------------------- */
/* -------------------------------------------------------------------- */
.av-form-textarea-corp
	{
	border: 1px solid #DCE1E4;
	border-radius: 2px;
	padding: 6px 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 14px);
	min-height: 100px;
	}

.av-form-textarea-corp:not(.alert-input):not(.disabled):hover,
.av-form-textarea-corp:not(.alert-input):not(.disabled):active,
.av-form-textarea-corp:not(.alert-input):not(.disabled):focus {border-color: #B6CBD0}
.av-form-textarea-corp.alert-input                            {border-color: #CC0000}
.av-form-textarea-corp.disabled                               {background: #F5F6F7}