.av-basket-line
	{
	align-items: center;
	display: flex;
	position: relative;
	}
.av-basket-line .icon
	{
	margin-right: 5px;
	width: 24px;
	}
.av-basket-line .counter
	{
	align-items: center;
	background: #FFF;
	border: 2px solid #CC0000;
	border-radius: calc(24px / 2);
	color: #CC0000;
	display: flex;
	font-size: calc(1em - 2px);
	font-weight: bold;
	justify-content: center;
	position: absolute;
	width:  24px;
	height: 24px;
	top:   -14px;
	left:   14px;
	}
.av-basket-line .counter.empty {display: none}
/* -------------------------------------------------------------------- */
/* ------------------------------ media ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 991px)
	{
	.av-basket-line .icon  {width: 14px}
	.av-basket-line .title {display: none}
	.av-basket-line .counter
		{
		background: transparent;
		border: none;
		position: static;
		width:  auto;
		height: auto;
		}
	}