/* -------------------------------------------------------------------- */
/* --------------------------- clear styles --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-select-min select {display: none !important}
/* -------------------------------------------------------------------- */
/* ------------------------------- label ------------------------------ */
/* -------------------------------------------------------------------- */
.av-form-select-min:not(.disabled) {cursor: pointer}

.av-form-select-min .title-label
	{
	align-items: center;
	display: flex;
	justify-content: space-between;
	}
.av-form-select-min .title-label > *:nth-child(1)
	{
	overflow: hidden;
	padding-right: 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 24px);
	}
.av-form-select-min .title-label > *:nth-child(2)
	{
	background: url(images/arrow.svg) center center no-repeat;
	background-size: 12px;
	transition: .3s;
	width:  24px;
	height: 24px;
	}
/* -------------------------------------------------------------------- */
/* -------------------------- drop-down menu -------------------------- */
/* -------------------------------------------------------------------- */
.av-form-select-min .list
	{
	background: #FAFAFA;
	border: 1px solid;
	border-radius: 2px;
	display: none;
	max-height: 200px;
	position: absolute;
	z-index: 10;
	}
.av-form-select-min .list [data-list-value]
	{
	overflow: hidden;
	padding: 3px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
/* -------------------------------------------------------------------- */
/* ------------------------- activities/hovers ------------------------ */
/* -------------------------------------------------------------------- */
.av-form-select-min.active      .title-label > *:nth-child(2)                {transform: rotate(-180deg)}
.av-form-select-min             .list                                        {border-color: #868B8D}
.av-form-select-min.alert-input .list                                        {border-color: #CC0000}
.av-form-select-min             .list             [data-list-value]:hover,
.av-form-select-min             .list:not(:hover) [data-list-value].selected {background: #4C5255;border-color: #4C5255;color: #FFF}