:root
	{
	--av-basket-line-mobile-color-active: #CC0000;
	--av-basket-line-mobile-image-width : 24px;
	--av-basket-line-mobile-counter-size: 18px;
	}
.av-basket-line-mobile {position: relative}
/* -------------------------------------------------------------------- */
/* ----------------------------- main link ---------------------------- */
/* -------------------------------------------------------------------- */
.av-basket-line-mobile .main-link     {align-items: center;display: flex;position: relative}
.av-basket-line-mobile .main-link img {margin-right: 5px;width: var(--av-basket-line-mobile-image-width)}

.av-basket-line-mobile .main-link .counter
	{
	align-items: center;
	background: #FFF;
	border: 1px solid var(--av-basket-line-mobile-color-active);
	border-radius: calc(var(--av-basket-line-mobile-counter-size) / 2);
	color: var(--av-basket-line-mobile-color-active);
	display: flex;
	font-size: 85%;
	font-weight: bold;
	justify-content: center;
	position: absolute;
	width:  var(--av-basket-line-mobile-counter-size);
	height: var(--av-basket-line-mobile-counter-size);
	top:  calc( ( var(--av-basket-line-mobile-image-width) - var(--av-basket-line-mobile-counter-size) ) / 2);
	left: calc(var(--av-basket-line-mobile-image-width) - (var(--av-basket-line-mobile-counter-size) / 3));
	}
.av-basket-line-mobile .main-link .counter.empty {display: none}