.av-form-button-corp-alt2,
.av-form-button-corp-alt2:visited
	{
	background: #D5DBDF;
	border: 1px solid #D5DBDF;
	border-radius: 2px;
	color: #717A84 !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 26px;
	outline: none;
	padding: 0 7px;
	margin: 0;
	transition: .3s;
	text-align: center;
	text-decoration: none !important;
	}
.av-form-button-corp-alt2[disabled],
.av-form-button-corp-alt2:hover,
.av-form-button-corp-alt2:focus,
.av-form-button-corp-alt2:active
	{
	background: #FFF;
	border-color: #717A84;
	text-decoration: none !important;
	}