/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-styled-file a,
.av-form-styled-file a:hover,
.av-form-styled-file a:active,
.av-form-styled-file a:focus,
.av-form-styled-file a:visited {color: #CC0000}
.av-form-styled-file input     {display: none}
/* -------------------------------------------------------------------- */
/* ------------------------------ input ------------------------------- */
/* -------------------------------------------------------------------- */
.av-form-styled-file
	{
	align-items: center;
	display: flex;
	font-size: calc(1em - 2px);
	}
.av-form-styled-file .title,
.av-form-styled-file .new-file-name,
.av-form-styled-file .uploaded-file-link
	{
	color: #CC0000;
	cursor: pointer;
	display: none;
	line-height: 24px;
	overflow: hidden;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: calc(100% - 24px);
	}

.av-form-styled-file .delete
	{
	color: #B6BDC3;
	cursor: pointer;
	display: none;
	float: right;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	transition: .3s;
	width:  24px;
	height: 24px;
	}
.av-form-styled-file .delete:hover,
.av-form-styled-file .delete:active,
.av-form-styled-file .delete:focus {color: #CC0000}

.av-form-styled-file:not(.new-file):not(.uploaded-file) .title,
.av-form-styled-file.new-file                           .new-file-name,
.av-form-styled-file.new-file                           .delete,
.av-form-styled-file.uploaded-file                      .uploaded-file-link,
.av-form-styled-file.uploaded-file                      .delete {display: block}
/* -------------------------------------------------------------------- */
/* ------------------------------- media ------------------------------ */
/* -------------------------------------------------------------------- */
@media (max-width: 767px)
	{
	.av-form-styled-file .title,
	.av-form-styled-file .new-file-name,
	.av-form-styled-file .uploaded-file-link
		{
		line-height: 48px;
		max-width: calc(100% - 48px);
		}
	.av-form-styled-file .delete
		{
		font-size: 24px;
		line-height: 48px;
		width:  48px;
		height: 48px;
		}
	}