.av-form-button-corp-alt4,
.av-form-button-corp-alt4:visited
	{
	background: transparent;
	border: none;
	color: inherit !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 16px;
	outline: none;
	padding: 0;
	margin:  0;
	text-align: center;
	text-decoration: none !important;
	}
.av-form-button-corp-alt4:hover,
.av-form-button-corp-alt4:focus,
.av-form-button-corp-alt4:active {text-decoration: underline !important}