/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-styled-input input,
.av-form-styled-input label
	{
	background: transparent;
	border: none;
	color: inherit;
	font-weight: normal;
	margin:  0;
	padding: 0;
	outline: none;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ input ------------------------------- */
/* -------------------------------------------------------------------- */
.av-form-styled-input
	{
	border-bottom: 1px solid #868B8D;
	position: relative;
	}
.av-form-styled-input.alert-input     {border-color: #CC0000}
.av-form-styled-input.placeholder-on,
.av-form-styled-input.placeholder-off {margin-top: 30px}

.av-form-styled-input input,
.av-form-styled-input label
	{
	display: block;
	font-size: calc(1em - 2px);
	line-height: 30px;
	overflow: hidden;
	padding: 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	}
.av-form-styled-input label
	{
	color: #B6C0C6;
	cursor: text;
	position: absolute;
	top:  -30px;
	left: -5px;
	transition: .3s;
	}
.av-form-styled-input.alert-input label {color: #CC0000}

.av-form-styled-input.required label::after
	{
	color: #CC0000;
	content: "*";
	display: inline-block;
	margin-left: 3px;
	}
.av-form-styled-input.placeholder-on label {left: 0;top: 0}