/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-button-alt2
	{
	background: transparent;
	border: none;
	color: inherit;
	font-weight: normal;
	margin:  0;
	padding: 0;
	}
.av-form-button-alt2,
.av-form-button-alt2:hover,
.av-form-button-alt2:focus,
.av-form-button-alt2:active,
.av-form-button-alt2:visited
	{
	outline: none;
	text-decoration: none;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ button ------------------------------ */
/* -------------------------------------------------------------------- */
.av-form-button-alt2,
.av-form-button-alt2:visited,
.av-form-button-alt2:hover,
.av-form-button-alt2:active,
.av-form-button-alt2:focus
	{
	background: #B6C0C6;
	border: 1px solid #B6C0C6;
	border-radius: 2px;
	color: #FFF !important;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 7px 10px;
	text-align: center;
	transition: .3s;
	}