/* -------------------------------------------------------------------- */
/* --------------------------- clear styles --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-select select {display: none !important}
/* -------------------------------------------------------------------- */
/* ------------------------------- label ------------------------------ */
/* -------------------------------------------------------------------- */
.av-form-select:not(.disabled) {cursor: pointer}

.av-form-select .title-label
	{
	align-items: center;
	border: 1px solid #B6C0C6;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	padding: 12px 3px 12px 10px;
	}
.av-form-select .title-label > *:nth-child(1)
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 24px);
	}
.av-form-select .title-label > *:nth-child(2)
	{
	background: url(images/arrow.png) center center no-repeat;
	background-size: cover;
	transition: .3s;
	width:  24px;
	height: 24px;
	}
/* -------------------------------------------------------------------- */
/* -------------------------- drop-down menu -------------------------- */
/* -------------------------------------------------------------------- */
.av-form-select .list
	{
	background: #FAFAFA;
	border-right:  1px solid #B6C0C6;
	border-bottom: 1px solid #B6C0C6;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius:  2px;
	display: none;
	max-height: 200px;
	margin-top: -2px;
	position: absolute;
	z-index: 10;
	}
.av-form-select .list [data-list-value]
	{
	border-left: 1px solid #B6C0C6;
	overflow: hidden;
	padding: 12px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
/* -------------------------------------------------------------------- */
/* ------------------------- activities/hovers ------------------------ */
/* -------------------------------------------------------------------- */
.av-form-select.active            .title-label > *:nth-child(2) {transform: rotate(-180deg)}
.av-form-select.active            .title-label,
.av-form-select.active            .list,
.av-form-select.active            .list [data-list-value],
.av-form-select:not(.alert-input) .title-label:hover            {border-color: #868B8D}
.av-form-select.alert-input       .title-label,
.av-form-select.alert-input       .list,
.av-form-select.alert-input       .list [data-list-value]       {border-color: #CC0000}
.av-form-select .list             [data-list-value]:hover,
.av-form-select .list:not(:hover) [data-list-value].selected    {background: #4C5255;border-color: #4C5255;color: #FFF}