/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-shop-mobile-menu,
.av-shop-mobile-menu ul,
.av-shop-mobile-menu li        {padding: 0;margin: 0}
.av-shop-mobile-menu li:before {display: none !important}

.av-shop-mobile-menu a,
.av-shop-mobile-menu a:hover,
.av-shop-mobile-menu a:active,
.av-shop-mobile-menu a:focus,
.av-shop-mobile-menu a:visited {color: inherit;text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------ first level items ------------------------- */
/* -------------------------------------------------------------------- */
.av-shop-mobile-menu .first-level-item .title-block
	{
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	padding: 10px calc((100% - 250px) / 2);
	}
.av-shop-mobile-menu .first-level-item.active .title-block {background: #FAFAFA}

.av-shop-mobile-menu .first-level-item .title-block .link
	{
	align-items: center;
	display: flex;
	width: calc(100% - 24px);
	}
.av-shop-mobile-menu .first-level-item .title-block .link img
	{
	margin: 0 10px 0 5px;
	width: 40px;
	}
.av-shop-mobile-menu .first-level-item .title-block .link div
	{
	font-weight: bold;
	width: calc(100% - 40px - 15px);
	}
.av-shop-mobile-menu .first-level-item .title-block .arrow
	{
	cursor: pointer;
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	transition: .3s;
	width:  24px;
	height: 24px;
	}
.av-shop-mobile-menu .first-level-item.active .title-block .arrow {transform: rotate(-180deg)}
/* -------------------------------------------------------------------- */
/* ------------------------ second level items ------------------------ */
/* -------------------------------------------------------------------- */
.av-shop-mobile-menu .second-level-block {display: none}
.av-shop-mobile-menu .second-level-block a
	{
	border-bottom: 1px solid #FAFAFA;
	display: block;
	padding: 10px calc((100% - 250px) / 2) 10px calc((100% - 250px) / 2 + 50px + 5px);
	}