/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-input-search input,
.av-form-input-search label
	{
	background: transparent;
	border: none;
	color: inherit;
	font-weight: normal;
	margin:  0;
	padding: 0;
	outline: none;
	}
.av-form-input-search input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset !important}
/* -------------------------------------------------------------------- */
/* ------------------------------ input ------------------------------- */
/* -------------------------------------------------------------------- */
.av-form-input-search
	{
	align-items: center;
	border: 1px solid #B6C0C6;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	padding: 12px 4px 12px 10px;
	}
.av-form-input-search label,
.av-form-input-search input
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 20px);
	}
.av-form-input-search .icon
	{
	background: url(images/search.png) center center no-repeat;
	background-size: cover;
	width:  18px;
	height: 18px;
	}
.av-form-input-search,
.av-form-input-search > * {cursor: text}
/* -------------------------------------------------------------------- */
/* ------------------------- activities/hovers ------------------------ */
/* -------------------------------------------------------------------- */
.av-form-input-search:not(.alert-input):hover,
.av-form-input-search:not(.alert-input).active {border-color: #868B8D}
.av-form-input-search.alert-input              {border-color: #CC0000}