/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-button-alt3
	{
	background: transparent;
	border: none;
	color: inherit;
	font-weight: normal;
	margin:  0;
	padding: 0;
	}
.av-form-button-alt3,
.av-form-button-alt3:hover,
.av-form-button-alt3:focus,
.av-form-button-alt3:active,
.av-form-button-alt3:visited {text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------------ button ------------------------------ */
/* -------------------------------------------------------------------- */
.av-form-button-alt3
	{
	background: #F9F9F9;
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	color: #868B8D;
	cursor: pointer;
	display: inline-block;
	padding: 7px 10px;
	transition: .3s;
	text-align: center;
	}
.av-form-button-alt2:visited {color: #868B8D}
.av-form-button-alt3:active  {background: #FFF;border-color: #868B8D}