/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-banner h2
	{
	background: transparent;
	border: none;
	padding: 0;
	margin:  0;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ banner ------------------------------ */
/* -------------------------------------------------------------------- */
.av-banner
	{
	height: 400px;
	position: relative;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ slides ------------------------------ */
/* -------------------------------------------------------------------- */
.av-banner > .item
	{
	height: inherit;
	position: absolute;
	top:    0;
	bottom: 0;
	left:   0;
	right:  0;
	}
.av-banner > .item:not(.first) {display: none}

.av-banner > .item .image
	{
	display: block;
	height: inherit;
	overflow: hidden;
	}
.av-banner > .item .image img {width: 100%}

.av-banner > .item .text-block
	{
	align-items: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	position: absolute;
	top:  25%;
	left: calc((100% - 500px) / 2);
	width: 500px;
	}
.av-banner > .item .text-block h2,
.av-banner > .item .text-block .text
	{
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 2px black, 0 0 1em #181818;
	width: 100%;
	}
.av-banner > .item .text-block h2
	{
	font-size:   45px;
	line-height: 45px;
	margin-bottom: 13px;
	white-space: nowrap;
	}
.av-banner > .item .text-block .text
	{
	font-size:   25px;
	line-height: 25px;
	max-height: calc(25px * 4);
	margin-bottom: 26px;
	}
/* -------------------------------------------------------------------- */
/* ------------------------------ pager ------------------------------- */
/* -------------------------------------------------------------------- */
.av-banner .pager
	{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 5%;
	position: absolute;
	bottom: 6.25%;
	width: 90%;
	}
.av-banner .pager > *
	{
	border: 1px solid #FFF;
	border-radius: 12px;
	cursor: pointer;
	margin: 3px;
	outline: none;
	width:  12px;
	height: 12px;
	}
.av-banner .pager > *:not(.selected):focus {border-color: #CC0000}
.av-banner .pager > *.selected             {background: #FFF}
/* -------------------------------------------------------------------- */
/* ------------------------------ media ------------------------------- */
/* -------------------------------------------------------------------- */
@media(max-width: 767px)
	{
	.av-banner                     {height: 300px}
	.av-banner > .item .text-block {top: 10%;left: 5%;width: 90%}

	.av-banner > .item .text-block h2
		{
		font-size:   30px;
		line-height: 30px;
		}
	.av-banner > .item .text-block .text
		{
		font-size:   18px;
		line-height: 22px;
		max-height: calc(22px * 5);
		margin-bottom: 13px;
		}
	}