.av-form-index form
	{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
.av-form-index .left-column,
.av-form-index .right-column {width: calc((100% - 80px) / 2)}
.av-form-index-result-ok     {color: #B6C0C6;margin-top: 10px;text-align: center}
.av-form-index .errors-block {color: #CC0000;margin: 10px 0}

.av-form-index .right-column .message
	{
	display: flex;
	width:  100%;
	height: 100%;
	}
.av-form-index .right-column .message > * {width: 100%}

.av-form-index .buttons-row
	{
	margin-top: 52px;
	width: 100%;
	}
.av-form-index .buttons-row > *
	{
	display: block;
	margin: 0 auto;
	width: 200px;
	}
/* -------------------------------------------------------------------- */
/* -------------------------- checkbox list --------------------------- */
/* -------------------------------------------------------------------- */
.av-form-index .checkbox-list          {margin-left: 5px}
.av-form-index .checkbox-list > .title {color: #B6C0C6;font-size: calc(1em - 2px)}
/* -------------------------------------------------------------------- */
/* ------------------------------ media ------------------------------- */
/* -------------------------------------------------------------------- */
@media (max-width: 991px)
	{
	.av-form-index .left-column,
	.av-form-index .right-column {width: 100%}
	.av-form-index .buttons-row  {margin-top: 26px}
	}