/* -------------------------------------------------------------------- */
/* ---------------------------- clear style --------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-detail .streams-info-col a,
.av-bases-detail .streams-info-col a:visited,
.av-bases-detail .streams-info-col a:hover,
.av-bases-detail .streams-info-col a:active,
.av-bases-detail .streams-info-col a:focus {color: inherit;text-decoration: none}
/* -------------------------------------------------------------------- */
/* ------------------------------- base ------------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-detail                            {align-items: flex-start;display: flex;flex-wrap: wrap;justify-content: space-between}
.av-bases-detail.closed                     {opacity: 0.5}
.av-bases-detail > *:not(:last-child)       {margin-bottom: 52px}

.av-bases-detail > *                        {width: 100%}
.av-bases-detail:not(.no-map) .info-col,
.av-bases-detail              .map-col,
.av-bases-detail .detail-col  .detail-image,
.av-bases-detail .action-col  .detail-image {width: calc(50% - 20px)}
.av-bases-detail .detail-col  .detail-image {float: left; margin-right: 40px}
.av-bases-detail .action-col  .detail-image {float: right;margin-left:  40px}
/* -------------------------------------------------------------------- */
/* ----------------------------- main info ---------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-detail .info-col > div                      {padding-left: 13px}
.av-bases-detail .info-col > div > *:not(:last-child) {padding-bottom: 13px}
.av-bases-detail .map-col .google-map                 {width: 100%;height: 300px}
/* -------------------------------------------------------------------- */
/* --------------------------- streams info --------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-detail .streams-info-col > h3 .mobile {display: none}
.av-bases-detail .streams-info-col > div
	{
	display: flex;
	flex-wrap: wrap;
	margin-right: -40px;
	}
.av-bases-detail .streams-info-col .item
	{
	margin: 0 40px 26px 0;
	width: calc((100% - 40px*4) / 4);
	}
.av-bases-detail .streams-info-col .item .title
	{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 13px;
	}
.av-bases-detail .streams-info-col .item .title span {overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.av-bases-detail .streams-info-col .item .body > *   {width: calc((100% - 13px) / 2)}
.av-bases-detail .streams-info-col .item .body > *:nth-child(1)
	{
	align-items: center;
	display: flex;
	flex-direction: column;
	float: left;
	justify-content: space-between;
	}
.av-bases-detail .streams-info-col .item .body > *:nth-child(2)
	{
	float: right;
	text-align: right;
	}
.av-bases-detail .streams-info-col .item .price-link
	{
	border: 1px solid #7C7C7C;
	color: #7C7C7C;
	font-size: 90%;
	padding: 0 6px;
	margin-top: 13px;
	}
.av-bases-detail .streams-info-col .item .price-link:hover,
.av-bases-detail .streams-info-col .item .price-link:active,
.av-bases-detail .streams-info-col .item .price-link:focus {border-color: #CC0000;color: #CC0000}
/* -------------------------------------------------------------------- */
/* --------------------------- detail info ---------------------------- */
/* -------------------------------------------------------------------- */
.av-bases-detail .detail-col .share-block
	{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 6px;
	}
.av-bases-detail .detail-col .share-block > span
	{
	font-weight: bold;
	margin-right: 10px;
	text-transform: uppercase;
	}
/* -------------------------------------------------------------------- */
/* ----------------------------- buttons ------------------------------ */
/* -------------------------------------------------------------------- */
.av-bases-detail .buttons-col                      {text-align: center}
.av-bases-detail .buttons-col > *                  {width: 250px}
.av-bases-detail .buttons-col > *:not(:last-child) {margin-right: 13px}
/* -------------------------------------------------------------------- */
/* ------------------------------- media ------------------------------ */
/* -------------------------------------------------------------------- */
@media (max-width: 1199px)
	{
	.av-bases-detail .streams-info-col .item {width: calc((100% - 40px*3) / 3)}
	}
@media (max-width: 991px)
	{
	.av-bases-detail > *                       {width: 100% !important}
	.av-bases-detail .streams-info-col .item   {width: calc((100% - 40px*2) / 2)}
	.av-bases-detail .detail-col .detail-image,
	.av-bases-detail .action-col .detail-image {margin: 0 0 26px 0;width: 100%}
	}
@media (max-width: 767px)
	{
	.av-bases-detail .streams-info-col               {border: 1px solid #E1E4E6;border-radius: 2px}
	.av-bases-detail .streams-info-col > div         {margin: 0}
	.av-bases-detail .streams-info-col > h3 .desktop {display: none}
	.av-bases-detail .streams-info-col > h3 .mobile  {display: inline}

	.av-bases-detail .streams-info-col .item                  {margin: 0;width: 100%}
	.av-bases-detail .streams-info-col .item:not(:last-child) {border-bottom: 1px solid #E1E4E6}

	.av-bases-detail .streams-info-col > h3,
	.av-bases-detail .streams-info-col .item .title
		{
		background: transparent;
		border: none;
		font-size: 100%;
		margin: 0;
		}
	.av-bases-detail .streams-info-col > h3
		{
		border-bottom: 1px solid #E1E4E6;
		font-weight: bold;
		padding: 6px 13px;
		}
	.av-bases-detail .streams-info-col .item .title
		{
		cursor: pointer;
		padding: 6px 9px 6px 26px;
		}
	.av-bases-detail .streams-info-col .item:not(.no-info) .title span {width: calc(100% - 20px)}
	.av-bases-detail .streams-info-col .item:not(.no-info) .title::after
		{
		background: url(images/arrow.svg) center center no-repeat;
		background-size: 14px;
		content: '';
		display: block;
		transition: .3s;
		width:  14px;
		height: 14px;
		}
	.av-bases-detail .streams-info-col .item:not(.no-info).open .title        {font-weight: bold}
	.av-bases-detail .streams-info-col .item:not(.no-info).open .title::after {transform: rotate(180deg)}
	.av-bases-detail .streams-info-col .item .body                            {display: none}
	.av-bases-detail .streams-info-col .item .body > *                        {padding: 13px 6px}

	.av-bases-detail .detail-col .share-block          {justify-content: flex-start}
	.av-bases-detail .detail-col .share-block > span   {display: none}
	.av-bases-detail .buttons-col                      {align-items: center;display: flex;flex-direction: column}
	.av-bases-detail .buttons-col > *:not(:last-child) {margin: 0 0 13px 0}
	}